[MASTER]

persistent=no
jobs=4
unsafe-load-any-extension=no

[FORMAT]

indent-string='\t'
expected-line-ending-format=LF
no-space-check=empty-line

[BASIC]

good-names=cb,fn,n

[SIMILARITIES]

min-similarity-lines=300
