beautifulsoup4==4.8.2
inquirer==2.6.3
ipaddress==1.0.23
pynput==1.6.8
PyYAML==5.4
readchar==2.0.1
requests==2.23.0
scapy==2.4.3
scapy-http==1.8.2
scapy-python3==0.26
soupsieve==2.0
# python2 - conversion to python3 pending
# Flask==1.1.2
# Flask-Script==2.0.6
# Flask-SQLAlchemy==2.4.1
# itsdangerous==1.1.0
# Jinja2==2.11.1
# pygeoip==0.3.2
# SQLAlchemy==1.3.16








