{% with custom_header=True %}
{% include "header.html" %}
{% endwith %}

<header>
<div class="container">
<div style="white-space: pre;color:  #b5e853;font-weight: bold">
  :::       :::::::::::::     ::::::::::::::    :::::::::::::::::    :::    :::    ::::    ::: 
  :+:       :+:       :+:     :+:    :+:      :+: :+:  :+:    :+:    :+:  :+: :+:  :+:+:   :+: 
  +:+       +:+       +:+     +:+    +:+     +:+   +:+ +:+    +:+    +:+ +:+   +:+ :+:+:+  +:+ 
  +#+       +#++:++#  +#+     +:+    +#+    +#++:++#++:+#+    +#++:++#+++#++:++#++:+#+ +:+ +#+ 
  +#+       +#+        +#+   +#+     +#+    +#+     +#++#+    +#+    +#++#+     +#++#+  +#+#+# 
  #+#       #+#         #+#+#+#      #+#    #+#     #+##+#    #+#    #+##+#     #+##+#   #+#+# 
  ####################    ###    ##############     ######    ###    ######     ######    ####     
</div>
</div>
</header>

<div class="container">
  <section id="main_content">
    <form method="POST">
    <h2>Pass: </h2><input type="password" name="password" style="width: 50%"> <input type="submit" value="OK">
    </form>
  </section>
</div>

{% include "footer.html" %}
